name: Node CI Artifact Build # workflow name

# Defines triggers when workflow should run
on:
  push:
    branches: ["master"] # [branch name]
  # pull_request:
  #   branches: ["master"]

# One or more sets of tasks to run
jobs:
  # job-name:
  build-node-artifact:
    runs-on: ubuntu-latest # The runner machine OS

    steps:
      - name: Checkout code # pull the latest code
        uses: actions/checkout@v3 # A GitHub Action plugin

      - name: Setup Node.js 
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Build artifact (ZIP project)
        run: | # Commands executed in shell
          mkdir build
          zip -r build/node-server-build-${{ github.sha }}.zip . -x "node_modules/*"

      - name: Upload build artifact with unique tag
        uses: actions/upload-artifact@v3
        with: # 	Inputs passed to an action
          name: node-server-${{ github.sha }}
          path: build/node-server-build-${{ github.sha }}.zip
